<div class="wt-haslayout wt-bannerholder">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-5">
                <div class="wt-bannerimages">
                    <figure class="wt-bannermanimg" data-tilt>
                        <img src="images/bannerimg/img-01.png" alt="img description">
                        <img src="images/bannerimg/img-02.png" class="wt-bannermanimgone" alt="img description">
                        <img src="images/bannerimg/img-03.png" class="wt-bannermanimgtwo" alt="img description">
                    </figure>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                <div class="wt-bannercontent">
                    <div class="wt-bannerhead">
                        <div class="wt-title">
                            <h1><span>Find skilled experts </span> for any job in Nigeria</h1>
                        </div>
                        <div class="wt-description">
                            <p>Find professional services online at the most affordable rates.Find professional services online at the most affordable rates.</p>
                        </div>
                    </div>
                    <form class="wt-formtheme wt-formbanner">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" name="fullname" class="form-control" placeholder="I’m looking for">
                                <div class="wt-formoptions">
                                    <div class="wt-dropdown">
                                        <span>In: <em class="selected-search-type">Freelancers </em><i class="lnr lnr-chevron-down"></i></span>
                                    </div>
                                    <div class="wt-radioholder">
                                            <span class="wt-radio">
                                                <input id="wt-freelancers" data-title="Freelancers" type="radio" name="searchtype" value="freelancer" checked>
                                                <label for="wt-freelancers">Freelancers</label>
                                            </span>
                                        <span class="wt-radio">
                                                <input id="wt-jobs"  data-title="Jobs" type="radio" name="searchtype" value="job">
                                                <label for="wt-jobs">Jobs</label>
                                            </span>
                                        <span class="wt-radio">
                                                <input id="wt-company"  data-title="Companies" type="radio" name="searchtype" value="job">
                                                <label for="wt-company">Companies</label>
                                            </span>
                                    </div>
                                    <a href="userlisting.html" class="wt-searchbtn"><i class="lnr lnr-magnifier"></i></a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Home Banner End-->
<!--Main Start-->
<main id="wt-main" class=" wt-haslayout">
    <!--Popular Searches Start-->
    <section class="wt-haslayout wt-main-section">
        <div class="container">
            <div class="wt-sectiontitle">
                <h2>Professional Popular Searches</h2>
            </div>
        </div>
        <div class="popular-search-holder">
            <div class="card-holder">
                <a href="#">
                    <img src="images/bannerimg/profiler-category.png" alt="profiler image" class="rounded img-relative">
                    <p class="edit-text-p">Electrical Installations,<br> Plumbing, Welding, Bricklaying,!</p>
                    <span class="edit-text">Artisans</span>
                </a>
            </div>
            <div class="card-holder">
                <a href="#">
                    <img src="images/bannerimg/profiler-category.png" alt="profiler image" class="rounded img-relative">
                    <p class="edit-text-p">Make-Up Artists, <br> Tailoring services, Spa Services, <br>Hair Stylists,!</p>
                    <span class="edit-text">Fashions</span>
                </a>
            </div>
            <div class="card-holder">
                <a href="#">
                    <img src="images/bannerimg/profiler-category.png" alt="profiler image" class="rounded img-relative">
                    <p class="edit-text-p">Copywriting, Translation, <br>Script Writing, Proofreading !</p>
                    <span class="edit-text">Content Developer</span>
                </a>
            </div>
            <div class="card-holder">
                <a href="#">
                    <img src="images/bannerimg/profiler-category.png" alt="profiler image" class="rounded img-relative">
                    <p class="edit-text-p">Find experts for engaging <br> websites, mobile applications <br>and software!</p>
                    <span class="edit-text">Programming & Tech</span>
                </a>
            </div>
            <div class="card-holder">
                <a href="#">
                    <img src="images/bannerimg/profiler-category.png" alt="profiler image" class="rounded img-relative">
                    <p class="edit-text-p">UI & UX Designer, Logos, <br>Portraits/ Caricature, <br>Architecture and 3D Animations!</p>
                    <span class="edit-text">Graphic Design</span>
                </a>
            </div>

        </div>
    </section>
    <!--Popular Searches End-->
    <!--Categories Start-->
    <section class="wt-haslayout wt-main-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                    <div class="wt-sectionhead wt-textcenter">
                        <div class="wt-sectiontitle">
                            <h2>Explore Categories</h2>
                            <span>Professional by categories</span>
                        </div>
                    </div>
                </div>
                <div class="wt-categoryexpl">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-01.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Artisans</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>Bricklaying, Plumbing, Electrical Installations, Welding.</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-08.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Digital Marketing</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>Find experts that will help you boost your presence, grow sales and engage with your customers online...</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-05.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Programming &amp; Tech</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>Find experts for engaging websites, mobile applications and software for Websites, Mobile Applications, Office Softwares, Data Analysis,
                                    .</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-04.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Lifestyle</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>Photo Editing, Photographers, Videographers, Video editing, Video Effects editor,.</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-02.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Fashion</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>Make-Up Artists, Tailoring services, Spa Services, Hair Stylists.</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 float-left">
                        <div class="wt-categorycontent">
                            <figure><img src="images/categories/img-03.png" alt="image description"></figure>
                            <div class="wt-cattitle">
                                <h3>Graphic & Design</h3>
                            </div>
                            <div class="wt-categoryslidup">
                                <p>I will help you represent your brand with creative designs that positively position your brand in the mind of your target market.</p>
                                <a href="main-category-page">Explore <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 float-left">
                        <div class="wt-categorycontent">
                            <div class="wt-btnarea">
                                <a href="main-category-page" class="wt-btn">View All</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Categories End-->
    <!--Join Company Info Start-->
    <section class="wt-haslayout wt-main-section wt-paddingnull wt-companyinfohold">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="wt-companydetails">
                        <div class="wt-companycontent">
                            <div class="wt-companyinfotitle">
                                <h2>Find Freelancer</h2>
                            </div>
                            <div class="wt-description">
                                <p>Do you have an urgent project with a deadline to beat? Register here to get professional experts that would fit both your budget and your timeline for free. </p>
                            </div>
                            <div class="wt-btnarea">
                                <a href="/register-page" class="wt-btn">Join Now</a>
                            </div>
                        </div>
                        <div class="wt-companycontent">
                            <div class="wt-companyinfotitle">
                                <h2>Start As Freelancer</h2>
                            </div>
                            <div class="wt-description">
                                <p>Are you a professional expert in Nigeria, register yourself or your company as a virtual freelancer for free to promote your business and see your patronage soar to exceed your current targets.</p>
                            </div>
                            <div class="wt-btnarea">
                                <a href="/register-page" class="wt-btn">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Join Company Info End-->
    <!--sign up Start-->
    <section class="wt-haslayout wt-main-section">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 float-left">
                <div class="sign-up-section">
                    <div class="sign-up-holder">
                        <h3>Find Freelance Services For Your Business Today</h3>
                        <p>We've got you covered for all your business needs</p>
                        <a href="#"><button class="btn btn-primary">Get Started</button> </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--sign up End-->
</main>
<!--Main End-->

<!--Footer Start-->
<footer id="wt-footer" class="wt-footer wt-haslayout">
    <div class="wt-footerholder wt-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="wt-footerlogohold">
                        <strong class="wt-logo">
                            <a href="profiler-home-page">
                                <img src="images/profiler-logo-footer.png" alt="company logo here">
                            </a>
                        </strong>
                        <div class="wt-description">
                            <p>Profiler is a virtual marketplace where business needs meet the professional solutions that can solve them. We provide a free platform for growing your customer base as a freelancer or a professional  <a href="about-us-page">more...</a></p>
                        </div>
                        <ul class="wt-socialiconssimple wt-socialiconfooter">
                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li class="wt-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                            <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-footercol wt-widgetcompany">
                        <div class="wt-fwidgettitle">
                            <h3>Company</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="about-us-page">About Us</a></li>
                            <li><a href="how-it-works-page">How It Works</a></li>
                            <li><a href="javascript:void(0);">Careers</a></li>
                            <li><a href="terms-condition-page">Terms &amp; Conditions</a></li>
                            <li><a href="javascript:void(0);">Trust &amp; Safety</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-widgetskills">
                        <div class="wt-fwidgettitle">
                            <h3>By Skills</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="main-category-page">Artisan</a></li>
                            <li><a href="main-category-page">Programming &amp; Tech</a></li>
                            <li><a href="main-category-page">Lifestyle</a></li>
                            <li><a href="main-category-page">Graphic & Design</a></li>
                            <li><a href="main-category-page">Fashion</a></li>
                            <li><a href="main-category-page">Digital Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-haslayout wt-joininfo">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
                    <div class="wt-companyinfo">
                        <span><a href="register-page">New @ Profiler?</a> kindly register as a seller/user to enjoy the full benefit of being a Profiler!.</span>
                    </div>
                    <div class="wt-fbtnarea">
                        <a href="register-page" class="wt-btn">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>