
        <!--Inner Home Banner Start-->
        <div class="wt-haslayout wt-innerbannerholder">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-xs-12 col-sm-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
                        <div class="wt-innerbannercontent">
                            <div class="wt-title"><h2>Join Now For FREE</h2></div>
                            <ol class="wt-breadcrumb">
                                <li><a href="index-2.html">Home</a></li>
                                <li class="wt-active">Join Now</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Inner Home End-->
        <!--Main Start-->
        <main id="wt-main" class="wt-haslayout wt-innerbgcolor reg-main">
            <!--Register Form Start-->
            <div class="wt-haslayout wt-main-section">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div id="register-unbox" class="col-xs-12 col-sm-12 col-md-10 push-md-1 col-lg-8 push-lg-2">
                            <div class="wt-registerformhold box-shade">
                                <div class="wt-registerformmain">
                                    <div class="wt-registerhead">
                                        <div class="wt-title">
                                            <h3>Earn With Profiler</h3>
                                        </div>
                                        <div class="wt-description">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolore asperiores dolorem maxime?</p>
                                        </div>
                                    </div>
                                    <div class="wt-joinforms">
                                        <form class="wt-formtheme wt-formregister" id="reg-form">
                                            <fieldset class="wt-registerformgroup">
                                                <!-- <div class="form-group wt-form-group-dropdown form-group-half">
														<span class="wt-select">
															<select>
																<option>mr.</option>
																<option>mrs</option>
															</select>
														</span>
                                                    <input type="text" name="First Name" class="form-control" placeholder="First Name">
                                                </div>
                                                <div class="form-group form-group-half">
                                                    <input type="text" name="Last Name" class="form-control" placeholder="Last Name">
                                                </div> -->
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control" placeholder="Email">
                                                </div><!-- 
                                                <div class="form-group">
														<span class="wt-select">
															<select class="chosen-select locations" data-placeholder="Country" name="locations">
																<option value="Country">United State</option>
																<option value="Country1">Canada</option>
																<option value="Country2">England</option>
																<option value="Country3">Switzerland</option>
																<option value="Country4">New Zealand</option>
															</select>
														</span>
                                                </div> -->
                                                <div class="form-group form-group-half">
                                                    <input type="password" name="password" class="form-control" placeholder="Password">
                                                </div>
                                                <div class="form-group form-group-half">
                                                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password">
                                                </div><!-- 
                                                <div class="form-group">
														<span class="wt-select">
															<select name="locations">
																<option value="user">User</option>
																<option value="seller" class="wt-accordiontitle" id="headingOne" data-toggle="collapse" data-target="#collapseOne">Seller</option>
															</select>
														</span>
                                                </div> -->
                                                <!-- <ul class="wt-accordionhold wt-formaccordionhold accordion">
                                                    <li>
                                                        <div class="wt-accordiondetails collapse show" id="collapseOne" aria-labelledby="headingOne">
                                                            <div class="wt-radioboxholder">
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                            </div>
                                                            <div class="wt-radioboxholder">
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                    <input type="text" name="Email" class="form-control" placeholder="Email">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul> -->
                                                <div class="form-group text-center">
                                                    <button class="wt-btn register">Join</button>
                                                </div>
                                            </fieldset>
                                        </form>
                                        <div class="wt-joinnowholder"><!-- 
                                            <div class="wt-title">
                                                <h4>Join Now With</h4>
                                            </div>
                                            <div class="wt-description">
                                                <p>Use a social account for faster login or easy registration to directly get in to your account and start a good business</p>
                                            </div> -->
                                            <ul class="wt-socialicons wt-iconwithtext">
                                                <li class="wt-facebook"><a style="background: #4267b2;" href="javascript:void(0);"><i class="fa fa-facebook-f"></i><em>Continue with Facebook</em></a>
                                                </li>
                                                <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i><em>Continue with Google &nbsp; &nbsp;</em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="wt-registerformfooter">
                                    <span>Already Have an Account? <a id="wt-loginbtn" class="wt-loginbtn" href="javascript:void(0);">Login Now</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Register Form End-->
        </main>
        <!--Main End-->
        <footer id="wt-footer" class="wt-footer wt-haslayout">
            <div class="wt-footerholder wt-haslayout">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="wt-footerlogohold">
                                <strong class="wt-logo">
                                    <a href="profiler-home-page">
                                        <img src="/default/images/profiler-logo-footer.png" alt="company logo here">
                                    </a>
                                </strong>
                                <div class="wt-description">
                                    <p>Profiler is a virtual marketplace where business needs meet the professional solutions that can solve them. We provide a free platform for growing your customer base as a freelancer or a professional  <a href="about-us-page">more...</a></p>
                                </div>
                                <ul class="wt-socialiconssimple wt-socialiconfooter">
                                    <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                                    <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                                    <li class="wt-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                                    <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                                    <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="wt-footercol wt-widgetcompany">
                                <div class="wt-fwidgettitle">
                                    <h3>Company</h3>
                                </div>
                                <ul class="wt-fwidgetcontent">
                                    <li><a href="about-us-page">About Us</a></li>
                                    <li><a href="how-it-works-page">How It Works</a></li>
                                    <li><a href="javascript:void(0);">Careers</a></li>
                                    <li><a href="terms-condition-page">Terms &amp; Conditions</a></li>
                                    <li><a href="javascript:void(0);">Trust &amp; Safety</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                            <div class="wt-widgetskills">
                                <div class="wt-fwidgettitle">
                                    <h3>By Skills</h3>
                                </div>
                                <ul class="wt-fwidgetcontent">
                                    <li><a href="main-category-page">Artisan</a></li>
                                    <li><a href="main-category-page">Programming &amp; Tech</a></li>
                                    <li><a href="main-category-page">Lifestyle</a></li>
                                    <li><a href="main-category-page">Graphic & Design</a></li>
                                    <li><a href="main-category-page">Fashion</a></li>
                                    <li><a href="main-category-page">Digital Marketing</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wt-haslayout wt-joininfo">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
                            <div class="wt-companyinfo">
                                <span><a href="register-page">New @ Profiler?</a> kindly register as a seller/user to enjoy the full benefit of being a Profiler!.</span>
                            </div>
                            <div class="wt-fbtnarea">
                                <a href="register-page" class="wt-btn">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
