
        <main id="wt-main" class="wt-haslayout">
            <!--More Details Start-->
            <section class="wt-haslayout wt-dbsectionspace wt-padding-add-top wt-moredetailsholder">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-xl-4 col-lg-4 handler">
                        <aside id="wt-sidebar" class="wt-sidebar wt-usersidebar">
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgetcontent">
                                    <div class="passportHolder">
                                        <div class="userPassport">
                                            <img src="/default/images/team/img-02.jpg" alt="profiler-user-profile">
                                        </div>
                                    </div>
                                    <h4 class="f-edit">odoh_gerald</h4>
                                    <ul class="liHolder">
                                        <li class="location">
                                            Location
                                            <strong>Enugu</strong>
                                        </li>
                                        <li class="mobile">
                                            Mobile Number
                                            <strong>083532478</strong>
                                        </li>
                                        <li class="email">
                                            Email
                                            <strong>profiler@odoh_gerald.com</strong>
                                        </li>
                                        <li class="recent-delivery">
                                            Recent Delivery
                                            <strong>11 days</strong>
                                        </li>
                                    </ul>
                                    <a href="javascript:void(0);" class="wt-btn">Contact Me</a>
                                </div>
                            </div>
                            <div class="wt-widget wt-effectiveholder">
                                <div class="wt-widgetcontent">
                                    <div class="Holder">
                                        <h4>Description</h4>
                                        <p>
                                            We are the team for all kind of web related works and also photo editing services. Product photo editing, ClickFunnels, InfusionSoft, WordPress and Landing Page design also.
                                        </p>
                                    </div>
                                    <div class="Holder">
                                        <h4>Skills</h4>
                                        <p>
                                            php, laravel, javascript, digital marketing
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-12 col-sm-12 col-md-8 col-xl-8 col-lg-8">
                        <h4 class="f-edit">odoh_gerald Gigs</h4>
                        <div class="row usersGig">
                            <div class="profiler-holder-layout">
                                <div class="profiler-cards profiler-card">
                                    <div>
                                        <div class=" img-holder">
                                            <img src="/default/images/404-img.jpg" alt="profiler-category" class="img-responsive">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="user-profile-holder">
                                            <div class="inner-wrapper">
                                                <span class="seller-image">
                                                    <div class="profiler-seller-image">
                                                        <div class="letter">m</div>
                                                       <span class="fit-avatar-image">
                                                            <img src="apple-touch-icon.png">
                                                       </span>
                                                    </div>
                                                </span>
                                                <span class="seller-name">
                                                    <a href="coming-soon-page" target="_self" rel="nofollow">Sunex</a>
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="profiler-card-content">
                                            <a href="coming-soon-page" target="_blank">
                                                i will develop any kind of website for you
                                            </a>
                                        </h3>
                                        <div class="profiler-review-area">reviews (48)</div>
                                    </div>
                                    <footer>
                                        <div class="gig-fav">
                                            <a class="icn-heart hint--top js-open-popup-join" href="#!" data-hint="Add to Saved">
                                                <i class="ficon ficon-favorite"></i>
                                            </a>
                                        </div>
                                        <a href="#" target="_blank" class="price" title="500NGN">
                                            <small class="text-body-3">Starting at</small>
                                            500NGN
                                        </a>
                                    </footer>
                                </div>
                            </div>
                            <div class="profiler-holder-layout">
                                <div class="profiler-cards profiler-card">
                                    <div>
                                        <div class=" img-holder">
                                            <img src="/default/images/404-img.jpg" alt="profiler-category" class="img-responsive">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="user-profile-holder">
                                            <div class="inner-wrapper">
                                                <span class="seller-image">
                                                    <div class="profiler-seller-image">
                                                        <div class="letter">m</div>
                                                       <span class="fit-avatar-image">
                                                            <img src="apple-touch-icon.png">
                                                       </span>
                                                    </div>
                                                </span>
                                                <span class="seller-name">
                                                    <a href="#" target="_self" rel="nofollow">Sunex</a>
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="profiler-card-content">
                                            <a href="#" target="_blank">
                                                i will develop any kind of website for you
                                            </a>
                                        </h3>
                                        <div class="profiler-review-area">reviews (48)</div>
                                    </div>
                                    <footer>
                                        <div class="gig-fav">
                                            <a class="icn-heart hint--top js-open-popup-join" href="#!" data-hint="Add to Saved">
                                                <i class="ficon ficon-favorite"></i>
                                            </a>
                                        </div>
                                        <a href="#" target="_blank" class="price" title="500NGN">
                                            <small class="text-body-3">Starting at</small>
                                            500NGN
                                        </a>
                                    </footer>
                                </div>
                            </div>
                            <div class="profiler-holder-layout">
                                <div class="profiler-cards profiler-card">
                                    <div>
                                        <div class=" img-holder">
                                            <img src="/default/images/404-img.jpg" alt="profiler-category" class="img-responsive">
                                        </div>
                                    </div>
                                    <div>
                                        <div class="user-profile-holder">
                                            <div class="inner-wrapper">
                                                <span class="seller-image">
                                                    <div class="profiler-seller-image">
                                                        <div class="letter">m</div>
                                                       <span class="fit-avatar-image">
                                                            <img src="apple-touch-icon.png">
                                                       </span>
                                                    </div>
                                                </span>
                                                <span class="seller-name">
                                                    <a href="#" target="_self" rel="nofollow">Sunex</a>
                                                </span>
                                            </div>
                                        </div>
                                        <h3 class="profiler-card-content">
                                            <a href="#" target="_blank">
                                                i will develop any kind of website for you
                                            </a>
                                        </h3>
                                        <div class="profiler-review-area">reviews (48)</div>
                                    </div>
                                    <footer>
                                        <div class="gig-fav">
                                            <a class="icn-heart hint--top js-open-popup-join" href="#!" data-hint="Add to Saved">
                                                <i class="ficon ficon-favorite"></i>
                                            </a>
                                        </div>
                                        <a href="#" target="_blank" class="price" title="500NGN">
                                            <small class="text-body-3">Starting at</small>
                                            500NGN
                                        </a>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--More Details End-->
        </main><!-- 
    </div>
</div>
</body> -->

