

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                         <div class="row">
                            <div class="col-md-7 offset-2">
                                <div class="card" style="border: 1px solid #454545;">
                                    <div class="row">
                                            <div class="col-md-12">
                                            <div class="card-heading border bottom">
                                                <h4 class="card-title">Create Sub Category</h4>
                                            </div>
                                            <div class="card-block">
                                                <form action="" id="xt-sub-category-form">
                                                 <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Category</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <select name="main_category" class="form-control">
                                                            <% for(var i=0; main_cat[i]; i++){ %>
                                                            <option value="<%= main_cat[i].unique_id %>">
                                                                <%= main_cat[i].title %></option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <p class="mrg-top-10 text-dark"> <b>Title</b></p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" name="sub_cat_title" class="form-control" placeholder="Sub Category Title">
                                                    </div>
                                                </div>
                                                <hr>
                                               
                                                <div class="row" style="float: right;">
                                                    <div class="col-md-3">
                                                        <button class="btn btn-primary xt-create-sub-category" type="submit"> Submit Details</button>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2017 <b class="text-dark">Theme_Nate</b>. All rights reserved.</span>
                            <span class="go-right">
									<a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
									<a href="#" class="text-gray">Privacy &amp; Policy</a>
								</span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->
