<!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="widget-profile-1 card" style="border: solid 1px #454545;">
                                    <div class="pdd-horizon-30 pdd-vertical-20">

                                        <table width="100%" class="table-hover">
                                            <thead>
                                                <th>  
                                                    <h2 class="card-title">Main Categories</h2>
                                                </th>
                                            </thead>
                                            <tbody>
                                                    <% for(var i=0; main_cat[i]; i++){ %>
                                                    <tr style="cursor: pointer;">
                                                        <td height="50"  class="xt_all_cats_tb">
                                                            <p class="cat_id" style="display:none">
                                                                <%= main_cat[i].unique_id %>
                                                            </p> 
                                                            <span><%= main_cat[i].title %></span>
                                                        </td>
                                                        <td height="50">
                                                            <a href="/to-switch/editcategory/<%= main_cat[i].unique_id %>" style="float:right; color: red;padding-right: 5px;"><i class="c-red-500 ti-pencil"></i></a>
                                                        </td>
                                                    </tr>
                                                    <% } %>

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7">
                                <div class="card" style="border: 1px solid #454545;">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <table id="xt-sub_cats" class="table-hover" width="100%">
                                                    <thead>
                                                    <th>  
                                                        <h4 class="card-title"> Sub Categories</h4> 
                                                    </th>
                                                    </thead>
                                                </table>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <!-- Modal START-->
                <div class="modal fade" id="EDIT-SUB-CATEGORY">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4>Edit Sub-Category Name</h4>
                            </div>
                            <form action="" id="sub_cat_modal">
                            <div class="modal-body">
                                <div class="form-group row">
                                    <label for="form-1-1" class="col-md-2 control-label">Name</label>
                                    <div id="sub_cat_uniq_id" class="col-md-10">
                                        <input type="hidden" class="" value="">
                                        <input name="sub_cat_title_modal" type="text" value="" class="form-control" placeholder="Enter Sub Category Name">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer no-border">
                                <div class="text-right">
                                    <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                                    <button class="btn btn-primary btn-sm xt-update-sub-cat">Change Sub-Category Name</button>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>



                <!-- Content Wrapper END -->

                <!-- Footer START -->
                <footer class="content-footer">
                    <div class="footer">
                        <div class="copyright">
                            <span>Copyright © 2017 <b class="text-dark">Theme_Nate</b>. All rights reserved.</span>
                            <span class="go-right">
                                <a href="#" class="text-gray mrg-right-15">Term &amp; Conditions</a>
                                <a href="#" class="text-gray">Privacy &amp; Policy</a>
                            </span>
                        </div>
                    </div>
                </footer>
                <!-- Footer END -->
                