.reg-main{
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}

.box-shade{
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}
#register-unbox{
    width:100%;
}

.custom-main{
    padding: 0px 50px 0px 80px;
}

.prop-width{
    width:30%;
    margin-right: 3%;
}
.profile-img{
    width:250px;
    float:left;
    height: 250px;
    margin-left:13%;
}
.profile-img img{
    float:left;
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: 50%;
}
.profile-body{
    float:left;
    width:100%;
}

.ct-skills li{
    list-style-type: none;border: 0;
    font-size: 14px;
    line-height: 130%;
    padding: 6px 12px;border-radius: 15px;
    display: inline-block;
    position: relative;
    min-width: 40px;
    text-align: center;
    padding: 5px 12px;
    margin: 0 10px 10px 0;
    background-color: #f4f4f4;
}
.gig-tab{
    width:100%;
}
.gig-content{
    padding:2px;
    font-size:14px;
    border-radius: 0px;
}
.yh{
    margin: 0;
    width: 100%;
    float: left;
    padding: 20px;
    cursor: pointer;
    position: relative;
    border-top: 1px solid #f2f2f2;
}
.ct-user{
    font-weight: 400;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    color: #767676;
    text-decoration: none;
    padding-top:5px;
    padding-left: 10px;;
}
.ct-user a{
    text-decoration: none;
    color: #0e0e0f;

}
.ct-user a:hover{
    text-decoration: none;

}

.ct-online{
    top: 4%;
    left: -15px;
    width: 8px;
    height: 8px;
    content: '';
    margin: -3px 0 0;
    position: absolute;
    border-radius: 6px;
    background: springgreen /* #1dbf73 */;
}

 .ct-btn-width{
    width:160px;
}
/*
.ct-alert{
    font-size: 26px;
    font-weight: 700;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    padding: 1em 2em !important;
    padding-right: 4rem !important;
    padding: .75rem 1.25rem !important; 
    text-align: center;
} */
.wt-checkbox{
    margin: 0 0 20px;
}
.wt-verticalscrollbar .wt-ad h3{
    text-transform:capitalize;

}
.wt-verticalscrollbar .wt-ad span{
    /* color:green; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform:capitalize;
}
.wt-verticalscrollbar .wt-ad span.notifyId{
    /* color:green; */
   display: none;
}

.ct-viewNotify{
    margin-top:0px;
    height:280px;
    padding:90px 30px 0 30px;
}
.wt-chatarea .ct-viewNotify p.ct-body{
    font-size:17px;
    margin-top:30px;
    
}

.wt-chatarea .ct-viewNotify p.ct-foot-notify{
    font-size:17px;
    margin-top:30px;
    color: #505050;
    font-weight:600;
}

.wt-chatarea .ct-notify-footer p a{
    text-decoration: none;
}

.wt-chatarea .ct-notify-footer p{
    font-size:15px;
    margin-top:30px;
    text-align: center;
    text-decoration: none ;
    
}

.gig-box{
    width: 232px;
    margin: 0 20px 20px 0;    
    font-size: 14px;
    line-height: 120%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
}
.gig-tab .gig-box .gig-main-body{
    margin: 0 12px 10px;
    width:90%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 0px;
    font-family:'Poppins', Arial, Helvetica, sans-serif;;

}
.gig-box .gig-cover-img{
    float:left;
    width:100%;
    display: block;
}
.gig-box .gig-cover-img img{
    width: 100%;
    height:250px;
}
.gig-main-body p.gig-rating{
    font-size: 13px;
    line-height: 20px;
    color: #555;
    font-weight: 400;
    margin: 0 0 5px;
    /* padding: 10px 12px 0 0; */
}

.gig-footer{
    float:left;
    width:100%;
    height: 41px;
    border-top: 1px solid #eee;
    padding: 12px 12px 0;
}