<!--Footer Start-->
<footer id="wt-footer" class="wt-footer wt-haslayout">
    <div class="wt-footerholder wt-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="wt-footerlogohold">
                        <strong class="wt-logo">
                            <a href="profiler-home-page">
                                <img src="images/profiler-logo-footer.png" alt="company logo here">
                            </a>
                        </strong>
                        <div class="wt-description">
                            <p>Profiler is a virtual marketplace where business needs meet the professional solutions that can solve them. We provide a free platform for growing your customer base as a freelancer or a professional  <a href="about-us-page">more...</a></p>
                        </div>
                        <ul class="wt-socialiconssimple wt-socialiconfooter">
                            <li class="wt-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook-f"></i></a></li>
                            <li class="wt-twitter"><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li class="wt-youtube"><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                            <li class="wt-instagram"><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li class="wt-googleplus"><a href="javascript:void(0);"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-footercol wt-widgetcompany">
                        <div class="wt-fwidgettitle">
                            <h3>Company</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="about-us-page">About Us</a></li>
                            <li><a href="how-it-works-page">How It Works</a></li>
                            <li><a href="javascript:void(0);">Careers</a></li>
                            <li><a href="terms-condition-page">Terms &amp; Conditions</a></li>
                            <li><a href="javascript:void(0);">Trust &amp; Safety</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3">
                    <div class="wt-widgetskills">
                        <div class="wt-fwidgettitle">
                            <h3>By Skills</h3>
                        </div>
                        <ul class="wt-fwidgetcontent">
                            <li><a href="main-category-page">Artisan</a></li>
                            <li><a href="main-category-page">Programming &amp; Tech</a></li>
                            <li><a href="main-category-page">Lifestyle</a></li>
                            <li><a href="main-category-page">Graphic & Design</a></li>
                            <li><a href="main-category-page">Fashion</a></li>
                            <li><a href="main-category-page">Digital Marketing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wt-haslayout wt-joininfo">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 push-lg-1">
                    <div class="wt-companyinfo">
                        <span><a href="register-page">New @ Profiler?</a> kindly register as a seller/user to enjoy the full benefit of being a Profiler!.</span>
                    </div>
                    <div class="wt-fbtnarea">
                        <a href="register-page" class="wt-btn">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer End-->