<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%=page%></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="/default/apple-touch-icon.png">
    <link rel="icon" href="/default/images/profiler-logo-favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/default/css/bootstrap.min.css">
    <link rel="stylesheet" href="/default/css/normalize.css">
    <link rel="stylesheet" href="/default/css/scrollbar.css">
    <link rel="stylesheet" href="/default/css/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="/default/css/font-awesome.min.css">
    <link rel="stylesheet" href="/default/css/themify-icons.css">
    <link rel="stylesheet" href="/default/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/default/css/jquery-ui.css">
    <link rel="stylesheet" href="/default/css/linearicons.css">
    <link rel="stylesheet" href="/default/css/tipso.css">
    <link rel="stylesheet" href="/default/css/chosen.css">
    <link rel="stylesheet" href="/default/css/prettyPhoto.css">
    <link rel="stylesheet" href="/default/css/main.css">
    <link rel="stylesheet" href="/default/css/color.css">
    <link rel="stylesheet" href="/default/css/transitions.css">
    <link rel="stylesheet" href="/default/css/responsive.css">
	<link rel="stylesheet" href="/default/css/dashboard.css">
    <link rel="stylesheet" href="/default/css/custom-style.css" type="text/css">
    <link href="/default/the-sweetalert-js/sweetalert.css" rel="stylesheet" type="text/css">
    <script src="/default/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<!-- Preloader Start  -->
 <!-- <div class="preloader-outer">
    <div class="loader"></div>
</div>  -->
<!-- Preloader End -->