
<div style="background-color: #323232 !important;" class="wt-haslayout wt-footerbottom main-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="wt-copyrights"><span>Profiler.</span> © 2019 All Rights Reserved.</p>
                <nav class="wt-addnav">
                    <ul>
                        <li><a href="javascript:void(0);">News</a></li>
                        <li><a href="terms-condition-page">Terms &amp; Conditions</a></li>
                        <li><a href="javascript:void(0);">Privacy Policy</a></li>
                        <li><a href="javascript:void(0);">Career</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>