<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title><%=page%></title>
    <link rel="shortcut icon" href="/admin/images/logo/favicon.png">
    <link rel="stylesheet" href="/admin/vendors/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/admin/vendors/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="/admin/vendors/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="/admin/vendors/bower-jvectormap/jquery-jvectormap-1.2.2.css" />
    <link rel="stylesheet" href="/admin/vendors/nvd3/build/nv.d3.min.css" />
    <link href="/admin/css/ei-icon.css" rel="stylesheet">
    <link href="/admin/css/themify-icons.css" rel="stylesheet">
    <link href="/admin/css/font-awesome.min.css" rel="stylesheet">
    <link href="/admin/css/animate.min.css" rel="stylesheet">
    <link href="/admin/css/app.css" rel="stylesheet">
    <link href="/admin/css/tipso.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/css/custom-style.css" type="text/css">
    <link href="/default/the-sweetalert-js/sweetalert.css" rel="stylesheet" type="text/css">
</head>
