<div class="side-nav">
        <div class="side-nav-inner">
            <div class="side-nav-logo">
                <a href="/to-switch/">
                    <div class="logo logo-dark" style="background-image: url('/assets/images/logo/logo.png')"></div>
                    <div class="logo logo-white" style="background-image: url('/assets/images/logo/logo-white.png')"></div>
                </a>
                <div class="mobile-toggle side-nav-toggle">
                    <a href="#">
                        <i class="ti-arrow-circle-left"></i>
                    </a>
    
    
    
                </div>
            </div>
            <ul class="side-nav-menu scrollable">
                <li class="nav-item active">
                    <a class="mrg-top-30" href="/to-switch/admin-dashboard">
                        <span class="icon-holder">
                            <i class="ti-home" style="color: #00DD42;"></i>
                        </span>
                        <span class="title">Dashboard</span>
                    </a>
    
    
    
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="/to-switch/view_user">
                        <span class="icon-holder">
                            <i class="ti-user" style="color: #0005FF"></i>
                        </span>
                        <span class="title">View Users</span>
    
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="/to-switch/view_gigs">
                        <span class="icon-holder">
                            <i class="ti-view-list-alt" style="color: #FF0000;"></i>
                        </span>
                        <span class="title">View Gigs</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="javascript:void(0);">
                        <span class="icon-holder">
                            <i class="ti-file" style="color: #FF0093;"></i>
                        </span>
                        <span class="title">Category</span>
                        <span class="arrow">
                            <i class="ti-angle-right"></i>
                        </span>
                    </a>
    
    
    
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/to-switch/createcategory">Create Category</a>
                        </li>
                        <li>
                            <a href="/to-switch/subcategory">Create Sub Category</a>
                        </li>
                        <li>
                            <a href="/to-switch/view_category">View Category</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="/to-switch/admin_user_support">
                        <span class="icon-holder">
                            <i class="ti-layout-media-overlay" style="color: #FF5700;"> </i>
                        </span>
    
                        <span class="title">User Support</span>
    
                    </a>
    
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle" href="/to-switch/create_admin">
                        <span class="icon-holder">
                            <i class="ti-user" style="color: #00DBFF;"></i>
                        </span>
                        <span class="title">Create Admin</span>
    
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle">
                        <span class="icon-holder">
                            <i class="ti-power-off" style="color: #C000FF;"></i>
                        </span>
                        <span class="title">Logout</span>
    
                    </a>
                </li>
            </ul>
        </div>
    </div>